<footer>
    <div class="fo-info">
      <div class="fo-info-socials">
        <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"> </i> </a>
        <a href="https://x.com/"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
        
      </div>
  
      <div id="copyright">
        &copy; 2025 Wanderlust Private Limited
      </div>
  
      <div class="fo-info-links">
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
      </div>
    </div>
  </footer>
  