<footer>
    <div class="fo-info">
      <div class="fo-info-socials">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
      </div>
  
      <div id="copyright">
        &copy; 2025 Wanderlust Private Limited
      </div>
  
      <div class="fo-info-links">
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
      </div>
    </div>
  </footer>
  