<footer>
<div class="fo-info">

    <hr>

   

        <div id="copyright">&copy; 2025 Wanderlust Private Limited</div>
        <div class="fo-info-links" >
            <ul>
                <a href="">&#8226;  Privacy</a>
                <a href="">&#8226;  Terms</a>
                <a href="">&#8226;  Sitemap</a>
                <a href="">&#8226;  Company details</a>
            </ul>
 
    </div>

    
    <div class="fo-info-socials">
        <div class="buttons">
            <a href="#"> <i class="fa-solid fa-globe"></i> English(IN)</a>
            <a href="#">  &#8377; INR</a>
        
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
    </div>
    </div>

</div>

</footer>