<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>
<body>

    <h3>Lists</h3>
    <form action="/listings/new" method="GET">
    <button > Create</button>
</form>
<ul>
    <% for (let list of allList){ %>
        <li> <a href="/listings/<%=list._id%>"> <%= list.title %></a> </li>
  <% }%>
</ul>
  
</body>
</html>